{% extends "base.html" %}

{% block title %}Lytspel, a Simple Phonetic Respelling for the English Language{% endblock %}

{% block custom_head %}
    <script>
      // Disable the "Convert file" button.
      function disableFileConversion() {
        document.getElementById('convert-file').setAttribute('disabled', '');
      }

      // Enable the "Convert file" button and show the name of the selected file.
      function enableFileConversion() {
        document.getElementById('convert-file').removeAttribute('disabled');
        const filepath = document.getElementById('file').value;
        document.getElementById('file-label').innerHTML = filepath.split(/(\\|\/)/g).pop();
      }

      function hideFileAlerts() {
        // Hide any alerts which may exist from earlier file submissions.
        let fileAlerts = document.getElementById('file-alerts');
        if (fileAlerts) fileAlerts.parentNode.removeChild(fileAlerts);

        // Disable the "Convert file" button until a new file has been selected
        disableFileConversion();
        return true;
      }

      window.onload = function() {
        // Initally disable the "Convert file" button until a file has been selected
        disableFileConversion();

        // Grow textareas if needed to show the whole initial content without scrollbars
        // (both will have the same initial height sufficient for both)
        let $textareas = jQuery('textarea');
        let maxScrollHeight = 0;

        $textareas.each(function() {
          if (this.scrollHeight > maxScrollHeight) maxScrollHeight = this.scrollHeight;
        });

        $textareas.each(function() {
          let $this = jQuery(this);
          if ($this.innerHeight() < maxScrollHeight) $this.innerHeight(maxScrollHeight);
        });

        // Register handlers that keep the height of the textareas in sync
        $textareas.mouseup(function() {
          let $this = jQuery(this);
          let otherid = (this.id === 'tradspell') ? 'lytspel' : 'tradspell';
          let $other = jQuery('#' + otherid);

          if (Math.round($this.offset().top) === Math.round($other.offset().top)) {
            // Both textareas are placed side by side
            let thisHeight = $this.outerHeight();
            // If heights are different, this one has likely been resized by the user,
            // hence we resize the other one accordingly
            if (thisHeight !== $other.outerHeight()) $other.outerHeight(thisHeight);
          }
         });
      };
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <h1 style="max-width: 100%">A Simple Phonetic Respelling for the English Language</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id="file-alerts" name="file-alerts">
            {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                <b>Error:</b> {{message}}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <div class="row converter">
        <div class="col-md-6 mb-3">
          <form method="post">
            {{form.csrf}}
            <div class="form-group">
              <label for="tradspell">Traditional spelling:</label>
              <textarea id="tradspell" name="tradspell" class="form-control vresize"
                placeholder="Type or paste text to convert." maxlength=20000 rows=10
                autofocus>{{tradspell}}</textarea>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success">Convert</button>
          </div>
          </form>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="lytspel">Lytspel:</label>
            <textarea id="lytspel" name="lytspel" class="form-control vresize" rows=10
              readonly>{{lytspel}}</textarea>
          </div>
          <form id="file-upload" name="file-upload" action="/file" method="post"
                enctype="multipart/form-data" onsubmit="return hideFileAlerts();">
            {{form.csrf}}
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file"
                  accept=".epub,.htm,.html,.markdown,.md,.rst,.txt,.xht,.xhtml,.xml"
                  oninput="enableFileConversion();">
                <label class="custom-file-label" for="file" id="file-label" >
                  Or select a file to convert
                  <span class="wide-details">(plain text, HTML, or epub)</span>
                </label>
              </div>
              <div class="text-right mt-2">
                <input id="convert-file" type="submit" class="btn btn-success"
                  value="Convert file">
              </div>
          </form>
        </div>
      </div>
    </div>
    {{intro}}
{% endblock %}
